@font-face {
   font-family: "icons";
   src: url("../fonts/icons.ttf?beg64q") format("truetype"), url("../fonts/icons.woff?beg64q") format("woff"),
      url("../fonts/icons.svg?beg64q#icons") format("svg");
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: "icons" !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
   content: "\e900";
}
.icon-Vector:before {
   content: "\e901";
}
/* ======================================================================================== */
@font-face {
   font-family: "icomoon";
   src: url("../fonts/icomoon.ttf?9upe41") format("truetype"), url("../`fonts/icomoon.woff?9upe41") format("woff"),
      url("../fonts/icomoon.svg?9upe41#icomoon") format("svg");
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: "icomoon" !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

._icon-community:before {
   content: "\e900";
}
._icon-like:before {
   content: "\e901";
}
._icon-star:before {
   content: "\e902";
}
._icon-vector:before {
   content: "\e903";
}
