@charset "UTF-8";
/* ==================== Обнулення ==================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: inherit;
}

input {
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  color: #424551;
}

/* ======================================== */
[class*=large] {
  padding: 17.5px 40px;
  font-size: 16px;
}

[class*=regular] {
  padding: 14px 32px;
  font-size: 14px;
}

.button--transpared-large {
  padding: 16.5px 40px;
}

.button--transpared-regular {
  padding: 13px 40px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
}

.button span {
  position: relative;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.5;
  z-index: 1;
}

@-webkit-keyframes button-carusel {
  0% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  49% {
    -webkit-transform: translateX(-100%) scale(0.8);
            transform: translateX(-100%) scale(0.8);
  }
  50% {
    opacity: 0;
  }
  51% {
    -webkit-transform: translateX(100%) scale(0.8);
            transform: translateX(100%) scale(0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes button-carusel {
  0% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  49% {
    -webkit-transform: translateX(-100%) scale(0.8);
            transform: translateX(-100%) scale(0.8);
  }
  50% {
    opacity: 0;
  }
  51% {
    -webkit-transform: translateX(100%) scale(0.8);
            transform: translateX(100%) scale(0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}
.button--red-large,
.button--red-regular {
  position: relative;
  background: -o-linear-gradient(34.05deg, #ff3f3a 0%, #f75e05 100%);
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
}

.button--transpared-large span,
.button--transpared-regular span {
  position: relative;
  background: -o-linear-gradient(34.05deg, #ff3f3a 0%, #f75e05 100%);
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button--transpared-large,
.button--transpared-regular {
  border: 1px solid #ff3f3a;
}

/* ================================= Title block ======================= */
.title-block {
  color: #1e212c;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  text-transform: capitalize;
}

/* ============================== List  =========================== */
.list-block {
  color: #424551;
}

.item {
  position: relative;
  padding-left: 32px;
  line-height: 1.6;
  min-height: 25px;
  background: url(../img/about-us/icons/check.svg) 0 5px/20px 20px no-repeat;
}

@media (max-width: 350px) {
  .item {
    padding-left: 25px;
    line-height: 1.4;
  }
}
/* ============================= Play block ======================= */
.play-block {
  color: #1e212c;
}

.play {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

.play::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
  width: 52px;
  height: 52px;
  background: #ff3f3a url("../img/main-block/Polygon.svg") center no-repeat;
  border-radius: 50%;
}

.play::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  background: #972622;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.5;
  -webkit-animation: button-puls 1s ease infinite;
          animation: button-puls 1s ease infinite;
}

@media (any-hover: hover) {
  .button:hover span,
.button:hover span {
    -webkit-animation: button-carusel 0.5s ease;
            animation: button-carusel 0.5s ease;
  }
  .play:hover::after {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@-webkit-keyframes button-puls {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  25% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  40% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
@keyframes button-puls {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  25% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  40% {
    -webkit-transform: scale(1.7);
            transform: scale(1.7);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.main__page {
  overflow: hidden;
}
.main__about-us {
  overflow: hidden;
}

.header__log-in,
.menu__link,
.actions-header__log-in,
.icon-Vector::before {
  font-weight: 700;
  line-height: 1.6;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -10%;
  width: 150%;
  height: 150%;
  background: rgb(254, 222, 208);
  -webkit-filter: blur(18px);
          filter: blur(18px);
}
.header__container {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  min-height: 92px;
}
@media (max-width: 1115px) {
  .header__container {
    gap: 35px;
  }
}
.header__logo {
  position: relative;
  z-index: 2;
  width: 100%;
}
.header__logo img {
  max-width: 100%;
}
.header__menu:not(:last-child) {
  margin-right: 20px;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
}
@media (max-width: 1115px) {
  .menu__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.menu__link {
  position: relative;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #ff3f3a;
  }
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ff3f3a;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (any-hover: hover) {
  .menu__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
}
.actions-header__button, .actions-header__log-in {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.actions-header__log-in {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (any-hover: hover) {
  .actions-header__log-in:hover {
    color: #ff3f3a;
  }
}
.actions-header__log-in span {
  position: relative;
}
.actions-header__log-in span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ff3f3a;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (any-hover: hover) {
  .actions-header__log-in span:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

.button__burger {
  display: none;
}
@media (max-width: 1115px) {
  .button.button--red-large {
    padding: 14px 20px;
  }
}

.icon-Vector::before {
  padding-right: 8px;
}

@media (max-width: 940px) {
  body.lock {
    overflow: hidden;
  }
  .button__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 30px;
    overflow: hidden;
    z-index: 2;
  }
  .button__burger::before, .button__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #222;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }
  .button__burger::before {
    top: 0;
  }
  .button__burger::after {
    bottom: 0;
  }
  .button__burger.active::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 13px;
  }
  .button__burger.active::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 15px;
  }
  .button__burger span {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background: #222;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .button__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__container {
    gap: 10px;
  }
  .header::before {
    z-index: 1;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: #feded0;
  }
  .menu:not(:last-child) {
    margin-right: 0;
  }
  .menu__list {
    display: block;
    padding: 150px 15px 15px 30px;
    text-align: center;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .menu__link {
    font-size: 40px;
    line-height: 1.5;
  }
  .menu.active {
    left: 0;
  }
  .actions-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 600px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 10px;
  }
  .header__container__logo {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .actions-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 430px) {
  .actions-header {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
  .actions-header__log-in, .actions-header__button {
    font-size: 14px;
  }
  .actions-header__button.button--red-large {
    padding: 10px;
  }
  .icon-Vector::before {
    display: none;
  }
}
.page-main {
  position: relative;
  padding: 200px 0px 80px;
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  padding-bottom: 190px;
}
.page-main__container {
  position: relative;
  z-index: 2;
}
.page-main__grid-block {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
}
.page-main__grid-block:not(:last-child) {
  margin-bottom: 190px;
}
.page-main__body {
  -ms-flex-item-align: center;
      align-self: center;
  padding-right: 180px;
}
.page-main__image {
  max-width: 102.7%;
  -webkit-transform: translateX(7.8%);
      -ms-transform: translateX(7.8%);
          transform: translateX(7.8%);
}
.page-main__image img {
  width: 100%;
}
.page-main__decor {
  position: absolute;
  top: 0;
  left: 0;
}

.body-main__play:not(:last-child) {
  margin-bottom: 40px;
}
.body-main__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  color: #1e212c;
}
.body-main__title:not(:last-child) {
  margin-bottom: 60px;
}
.body-main__buttons-block {
  display: inline-grid;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
}

.advantages-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.advantages-main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.advantages-main__score {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
}
.advantages-main__text {
  color: #1e212c;
  line-height: 1.6;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.advantages-main__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8px;
          flex: 0 0 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff3f3a;
}

.decor-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.decor-main__item {
  position: absolute;
  z-index: 1;
}
.decor-main__item--1 {
  top: 12.3148148148%;
  left: 4.2708333333%;
  width: 96px;
  height: 96px;
  background: url("../img/main-block/decor/decor-01.svg") 0 0 no-repeat;
}
.decor-main__item--2 {
  bottom: -9.2592592593%;
  left: -5.8333333333%;
  width: 284px;
  height: 284px;
  background: url("../img/main-block/decor/decor-02.svg") 0 0 no-repeat;
}
.decor-main__item--3 {
  top: 45.0925925926%;
  left: 40.7291666667%;
  width: 88px;
  height: 47px;
  background: url("../img/main-block/decor/decor-03.svg") 0 0 no-repeat;
}
.decor-main__item--4 {
  bottom: 24.1666666667%;
  left: 38.1770833333%;
  width: 61px;
  height: 61px;
  background: url("../img/main-block/decor/decor-04.svg") 0 0 no-repeat;
}
.decor-main__item--5 {
  bottom: 17.962962963%;
  right: -1.5625%;
  width: 187px;
  height: 137px;
  background: url("../img/main-block/decor/decor-05.svg") 0 0 no-repeat;
}
.decor-main__item--6 {
  top: -4.1666666667%;
  right: 5.0229166667%;
  width: 110px;
  height: 110px;
  background: url("../img/main-block/decor/decor-01.svg") 0 0 no-repeat;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

@media (max-width: 1230px) {
  .page-main__body {
    -ms-flex-item-align: center;
    align-self: center;
    padding-right: 30px;
  }
  .body-main__title {
    font-size: 55px;
  }
}
@media (max-width: 940px) {
  .page-main {
    padding: 140px 0px 50px;
  }
  .page-main__body {
    padding-right: 5px;
  }
  .body-main__title {
    font-size: 40px;
  }
  .body-main__title:not(:last-child) {
    margin-bottom: 20px;
  }
  .page-main__grid-block:not(:last-child) {
    margin-bottom: 90px;
  }
  .block-buttons__button {
    padding: 12px 30px;
  }
  .advantages-main__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 760px) {
  .page-main__image {
    width: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .page-main__grid-block {
    grid-template: 1fr/1fr;
    row-gap: 40px;
  }
  .page-main__grid-block:not(:last-child) {
    margin-bottom: 40px;
  }
  .body-main__play:not(:last-child) {
    margin-bottom: 20px;
  }
  .body-main__buttons-block {
    grid-template: repeat(2, 1fr)/1fr;
    width: 100%;
    row-gap: 15px;
  }
  .body-main__buttons-block .button {
    width: 100%;
  }
  .advantages-main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  .advantages-main__score {
    font-size: 35px;
  }
  .advantages-main__decor:nth-of-type(even) {
    display: none;
  }
}
@media (max-width: 450px) {
  .body-main__title {
    font-size: 35px;
  }
  .advantages-main {
    grid-template: 1fr auto/1fr;
    justify-items: center;
    row-gap: 10px;
  }
  .advantages-main__decor:nth-of-type(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.about-us {
  position: relative;
  padding-top: 180px;
  padding-bottom: 90px;
}
.about-us__container {
  position: relative;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  z-index: 2;
}
.about-us__image {
  width: 100%;
}
.about-us__image img {
  max-width: 100%;
}
.about-us__body {
  padding-left: 135px;
}
.about-us__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about-us__item {
  position: absolute;
  z-index: 1;
}
.about-us__item--one {
  top: 28.6%;
  left: -5.7708333333%;
  width: 181px;
  height: 133px;
  background: url("../img/about-us/decor/dots.svg") 0 0/contain no-repeat;
  -webkit-transform: rotate(-52.46deg);
      -ms-transform: rotate(-52.46deg);
          transform: rotate(-52.46deg);
}
.about-us__item--two {
  top: 55.7023809524%;
  right: -6.9791666667%;
  width: 225px;
  height: 225px;
  background: url("../img/about-us/decor/circles.svg") 0 0/contain no-repeat;
}

.body-about__block-title:not(:last-child) {
  margin-bottom: 40px;
}
.body-about__title:not(:last-child) {
  margin-bottom: 8px;
}
.body-about__list:not(:last-child) {
  margin-bottom: 22px;
}

.list__item:not(:last-child) {
  margin-bottom: 12px;
}

@media (max-width: 1230px) {
  .about-us {
    padding-top: 130px;
    padding-bottom: 50px;
  }
  .about-us__image {
    position: relative;
    padding-bottom: 100%;
  }
  .about-us__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-us__body {
    padding-left: 90px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .body-about__block-title:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 940px) {
  .about-us {
    padding-top: 90px;
    padding-bottom: 45px;
  }
  .about-us__container {
    display: grid;
    grid-template: 1fr/1fr;
  }
  .about-us__image {
    grid-row: 2/3;
    padding-bottom: 60%;
  }
  .about-us__image img {
    -o-object-position: top;
       object-position: top;
  }
  .about-us__body {
    padding-left: 0;
    margin-bottom: 45px;
  }
}
@media (max-width: 760px) {
  .about-us {
    padding-top: 45px;
    padding-bottom: 30px;
  }
  .body-about__block-title:not(:last-child) {
    margin-bottom: 20px;
  }
  .list__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media (max-width: 450px) {
  .about-us__image {
    padding-bottom: 100%;
  }
  .body-about__button.button--red-regular {
    width: 100%;
  }
  .body-about__label {
    font-size: 35px;
  }
  .list__item.item {
    background: none;
    padding-left: 0;
  }
}
.courses {
  padding-top: 90px;
  padding-bottom: 90px;
}
.courses__block-head {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.courses__block-head:not(:last-child) {
  margin-bottom: 60px;
}
.courses__block-mentors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.courses__button {
  display: none;
}

.head-block__title:not(:last-child) {
  margin-bottom: 8px;
}
.head-block__button {
  -ms-flex-item-align: end;
      align-self: end;
  justify-self: end;
}

.mentors-block__item {
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.item-mentor {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #fff;
  border: 1px solid #e5e8ed;
}
.item-mentor__image {
  position: relative;
  padding-bottom: 100%;
}
.item-mentor__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}
.item-mentor__body {
  display: grid;
  gap: 20px;
  padding: 32px;
}

.body-mentor__employment {
  font-size: 14px;
  line-height: 1.5;
  padding: 1px 8px;
  border-radius: 4px;
  color: #fff;
  justify-self: start;
  -ms-flex-item-align: start;
      align-self: start;
}
.body-mentor__employment--turquoise {
  background: #03cea4;
}
.body-mentor__employment--blue {
  background: #5a87fc;
}
.body-mentor__employment--orange {
  background: #f89828;
}
.body-mentor__employment--crimson {
  background: #f52f6e;
}
.body-mentor__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}
.body-mentor__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.price-mentor {
  font-size: 18px;
  line-height: 1.5;
}
.price-mentor__cost {
  position: relative;
  font-weight: 700;
  color: #ff4242;
  padding-right: 8px;
}
.price-mentor__cost::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 1px;
  height: 18px;
  background-color: #787a80;
}
.price-mentor__name {
  color: #787a80;
}

@media (max-width: 1230px) {
  .courses {
    padding-top: 50px;
  }
}
@media (max-width: 940px) {
  .courses {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .courses__block-mentors {
    gap: 20px;
  }
  .item-mentor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  .item-mentor__image {
    padding-bottom: 70%;
    width: 85%;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-shadow: 0 0 15px 2px #777;
            box-shadow: 0 0 15px 2px #777;
    border-radius: 4px;
  }
  .item-mentor__body {
    height: 100%;
  }
}
@media (max-width: 760px) {
  .head-block__button {
    display: none;
  }
  .courses {
    padding-top: 35px;
  }
  .courses__block-head {
    grid-template-columns: 1fr;
  }
  .courses__block-head:not(:last-child) {
    margin-bottom: 25px;
  }
  .courses__block-mentors {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .courses__block-mentors:not(:last-child) {
    margin-bottom: 30px;
  }
  .courses__button {
    display: block;
  }
  .item-mentor__image {
    padding-bottom: 60%;
  }
}
@media (max-width: 450px) {
  .courses {
    padding-bottom: 30px;
  }
  .head-block__label {
    font-size: 35px;
  }
  .item-mentor {
    padding-top: 0px;
  }
  .item-mentor__image {
    padding-bottom: 85%;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .item-mentor__body {
    padding: 15px;
  }
}
.benefists {
  padding-top: 90px;
  padding-bottom: 60px;
}
.benefists__heade-block {
  text-align: center;
}
.benefists__container {
  display: grid;
  row-gap: 60px;
}
.benefists__title:not(:last-child) {
  margin-bottom: 8px;
}
.benefists__feedback-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.benefists__feedback-link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-weight: 700;
  line-height: 1.6;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: border 0.3s ease, color 0.3s ease;
  -o-transition: border 0.3s ease, color 0.3s ease;
  transition: border 0.3s ease, color 0.3s ease;
}
@media (any-hover: hover) {
  .benefists__feedback-link:hover {
    border: 1px solid #ff3f3a;
    color: #ff3f3a;
  }
}
.benefists__feedback-link span {
  position: relative;
}
.benefists__feedback-link span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ff3f3a;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (any-hover: hover) {
  .benefists__feedback-link:hover span::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
.benefists__body {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

._icon-community:before,
._icon-like:before,
._icon-star:before,
._icon-vector:before {
  padding-right: 8px;
}

.body-benefist__img {
  position: relative;
  padding-bottom: 71.55%;
  grid-column: 2/3;
}
.body-benefist__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-benefist__text-block {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  padding-right: 135px;
}
.body-benefist__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3;
  color: #1e212c;
}
.body-benefist__title:not(:last-child) {
  margin-bottom: 24px;
}
.body-benefist__text {
  line-height: 1.6;
}

@media (max-width: 1230px) {
  .benefists {
    padding-top: 45px;
  }
  .benefists__body {
    gap: 20px;
  }
  .body-benefist__text-block {
    padding-right: 0;
  }
}
@media (max-width: 940px) {
  .benefists__feedback-items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
}
@media (max-width: 770px) {
  .benefists__container {
    row-gap: 30px;
  }
  .benefists__body {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .body-benefist__img {
    grid-column: 1/2;
    display: block;
    width: 100%;
  }
  .body-benefist__img img {
    max-width: 100%;
  }
  .body-benefist__text-block {
    grid-column: 1/2;
  }
}
@media (max-width: 760px) {
  .benefists__feedback-items {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
@media (max-width: 450px) {
  .benefists {
    padding-top: 30px;
  }
  .benefists__container {
    row-gap: 10px;
  }
  .benefists__label {
    font-size: 35px;
  }
  .benefists__feedback-items {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .body-benefist__title:not(:last-child) {
    margin-bottom: 10px;
  }
}
.footer {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  background: #1e212c;
}

.footer > .block {
  font-size: 40px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer > .block:hover:nth-child(1) {
  color: #f52f6e;
}
.footer > .block:hover:nth-child(2) {
  color: #5a87fc;
}
.footer > .block:hover:nth-child(3) {
  color: #03cea4;
}
.footer > .block:hover:nth-child(4) {
  color: #e942ff;
}