/* 
font-family: "Lato";
font-weight: 400 / 700 / 900;
*/

body {
   font-family: "Lato";
   font-size: 16px;
   color: #424551;
}
h1,
h3,
h6 {
   color: #1e212c;
}
[class*="__container"] {
   max-width: 1230px;
   margin: 0 auto;
   padding: 10px 5px;
}
/* ============================== Header =============================== */
.header {
   min-height: 70px;
   background-image: linear-gradient(
      45deg,
      rgba(231, 237, 118, 1) 0%,
      rgba(237, 126, 23, 0.89) 45%,
      rgba(234, 177, 126, 0.75) 100%
   );
   margin-bottom: 30px;
}
.header__container {
   text-align: center;
   font-size: 60px;
   font-weight: 900;
   letter-spacing: 8px;
   word-spacing: 20px;
   text-shadow: 5px 0 12px white, -5px 0 12px rgb(87, 200, 245);
   padding: 20px 0px;
}
.button {
   display: inline-block;
}
.button::before {
   content: "ↆ";
   color: red;
   display: inline-block;
}
/* ============================== Layout =============================== */
.page {
}
.layout__page {
   display: none;
}
.layout__page:target {
   display: block;
}
.layout__container {
}
.course-block {
}
._block-text {
   line-height: 1.6;
}
.border {
   border-bottom: 10px dotted rgb(233, 128, 8);
   max-width: 500px;
   margin-bottom: 50px;
}
/* ============================ Course block =========================== */
.course-block {
   margin-bottom: 100px;
}
.course {
}
.course__title {
   font-size: 46px;
   font-weight: 900;
   line-height: 1.3;
   margin-bottom: 40px;
}
.course-sub-title {
   font-size: 28px;
   font-weight: 700;
   line-height: 1.5;
   margin-bottom: 24px;
}
.course__text-block {
   margin-bottom: 48px;
}
.course__list-items {
   padding-left: 32px;
}
.course__list-items > li::before {
   content: "";
   margin: 0px 16px 0px -32px;
   width: 16px;
   height: 16px;
   background: url("../img/icons/check.svg") 0 0 no-repeat;
   display: inline-block;
   transition: all 0.5s ease 0s;
}
.course__list-items > li:hover::before {
   background: url("../img/icons/check-blue.svg") 0 0 no-repeat;
   transform: scale(1.5);
}
.course__list-items > li:nth-child(2):hover::before {
   transform: rotate(-360deg);
}
.course__list-items > li:nth-child(3):hover::before {
   transform: scale(0, 2);
}
.course__list-items > li:not(:last-child) {
   margin-bottom: 4px;
}
.list-item {
   line-height: 1.6;
}
/* =========================== Curator block =========================== */
.curator-block {
   margin-bottom: 50px;
}
.curator {
}
.curator__subtile {
   font-weight: 700;
   line-height: 1.5;
   text-transform: uppercase;
   letter-spacing: 1px;
}
.curator__subtile:not(:last-child) {
   margin-bottom: 8px;
}
.curator__title {
   font-size: 46px;
   line-height: 1.3;
   font-weight: 900;
}
.curator__title:not(:last-child) {
   margin-bottom: 16px;
}
.course__description-curator {
   font-size: 20px;
   line-height: 1.5;
   margin-bottom: 32px;
}
.curator__rating {
   margin-bottom: 32px;
}

.curator__rating > p {
   font-weight: 700;
   line-height: 1.6;
}
.curator__rating > p:not(:last-child) {
   margin-bottom: 4px;
}
.curator__rating-one::before,
.curator__rating-one ~ p::before {
   content: "";
   margin-right: 9px;
   width: 15px;
   height: 15px;
   display: inline-block;
   transition: all 0.5s ease 0s;
}
.curator__rating-one::before {
   background: url("../img/icons/Star.svg") 0 0 no-repeat;
}
.curator__rating-one:hover::before {
   background: url("../img/icons/Star-violet.svg") 0 0 no-repeat;
   transform: scale(1.5);
}
.curator__rating-two::before {
   background: url("../img/icons/play.svg") 0 0 no-repeat;
}
.curator__rating-two:hover::before {
   background: url("../img/icons/play-green.svg") 0 0 no-repeat;
   transform: scale(1.5);
}
.curator__rating-three::before {
   background: url("../img/icons/person.svg") 0 0 no-repeat;
}
.curator__rating-three:hover::before {
   background: url("../img/icons/person-orange.svg") 0 0 no-repeat;
   transform: scale(1.5);
}

.curator__text-block {
   margin-bottom: 40px;
}
._block-text {
}
.curator__social a {
   display: inline-block;
}
.curator__social a:not(:last-child) {
   margin-right: 25px;
}

.social-link-faceboock::before,
.social-link-faceboock ~ a::before {
   content: "";
   display: inline-block;
}
.social-link-faceboock::before {
   width: 12px;
   height: 22px;
   background: url("../img/socials/faceboock.svg") 0 0 no-repeat;
}
.social-link-be::before {
   width: 24px;
   height: 16px;
   background: url("../img/socials/be.svg") 0 0 no-repeat;
}
.social-link-twitter::before {
   width: 21px;
   height: 17px;
   background: url("../img/socials/twitter.svg") 0 0 no-repeat;
}
.social-link-in:before {
   width: 20px;
   height: 20px;
   background: url("../img/socials/in.svg") 0 0 no-repeat;
}
.social-link-faceboock:hover::before {
   background: url("../img/socials/faceboock-red.svg") 0 0 no-repeat;
}
.social-link-be:hover::before {
   background: url("../img/socials/be-red.svg") 0 0 no-repeat;
}
.social-link-twitter:hover::before {
   background: url("../img/socials/twitter-red.svg") 0 0 no-repeat;
}
.social-link-in:hover::before {
   background: url("../img/socials/in-red.svg") 0 0 no-repeat;
}
.social-link-faceboock:active::before {
   background: url("../img/socials/faceboock-yellow.svg");
}
.social-link-be:active::before {
   background: url("../img/socials/be-yellow.svg");
}
.social-link-twitter:active::before {
   background: url("../img/socials/twitter-yellow.svg");
}
.social-link-in:active::before {
   background: url("../img/socials/in-yellow.svg");
}
/* ================================== Practice ================================= */
.practice-button {
   display: inline-block;
   width: 100px;
   height: 100px;
   text-align: center;
   line-height: 100px;
   background: #1e212c;
   color: #fff;
   border-radius: 30%;
   margin-bottom: 30px;
   text-transform: lowercase;
   text-decoration: underline;
   font-size: 18px;
   overflow: hidden;
}
/* ================================== Practice ================================= */
.practice {
   margin-bottom: 50px;
}
.practice-menu {
   display: none;
   height: 300px;
}
.practice-menu:target {
   display: block;
}
.practice-menu__items li {
   font-size: 25px;
   line-height: 2;
   color: blue;
}
.practice-menu__items ul {
   padding-left: 15px;
}
.practice-menu__items li:hover ul {
   display: block;
}
.link:visited {
   color: rgb(241, 54, 7);
}
.practice-menu__item a:focus {
   outline: 5px solid rgb(8, 241, 8);
}
.subparagraph {
   display: none;
   color: rgb(226, 101, 43);
}
.subparagraph li:hover ul {
   display: block;
}
/* =============================== Lions block =============================== */
.practice-lions {
   color: #000;
   background: url("../img/lions/lion-04.jpg") right 90% / 410px no-repeat,
      url("../img/lions/lion-03.jpg") center / 350px no-repeat,
      url("../img/lions/lion-02.jpg") 20px 100px / 400px no-repeat,
      url("../img/lions/lion-05.jpg") 10% bottom / auto 250px no-repeat,
      url("../img/lions/lion-01.jpg") 0 0 / cover no-repeat fixed;
}
.lions-text {
   padding: 15px 10px;
}
.lion-title-main {
   text-align: center;
   font-size: 32px;
   font-weight: 900;
   text-decoration: underline;
   line-height: 1.6;
}
.lions-text div:nth-last-of-type(odd) h3 {
   font-size: 24px;
   font-weight: 700;
   color: #fff;
   text-shadow: 0 0 10px #000;
   text-align: right;
   margin-bottom: 15px;
}
.lions-text div:nth-last-of-type(even) h3 {
   font-size: 28px;
   font-weight: 700;
   color: #fff;
   text-shadow: 0 0 10px rgb(139, 5, 5);
   text-align: right;
   margin-bottom: 15px;
}
.lion-title-main:not(:last-child) {
   margin-bottom: 35px;
}
.lions-text div:nth-child(1) p {
   color: rgb(255, 217, 0);
   font-weight: 700;
   line-height: 1.6;
   text-shadow: 0 0 10px #000;
}
.lions-text div:nth-child(1) p:not(:last-child) {
   margin-bottom: 5px;
}
.lions-text div:nth-child(2) p {
   color: red;
   font-weight: 700;
   text-shadow: 0 0 10px #000;
}
.lions-text div:nth-child(2) p:last-child {
   color: green;
   font-weight: 900;
}
.lions-text div:nth-child(2) p:not(:last-child) {
   margin-bottom: 8px;
   }
   .lions-text div:nth-child(3) p:nth-child(odd) {
      font-weight: 700;
      letter-spacing: 2px;
      color: rgb(0, 38, 255);
      text-shadow: 0 0 10px #000;
   }
   .lions-text div:nth-child(3) p:nth-child(even) {
      font-size: 18px;
      line-height: 1.5;
      color: #faff;
   }
   .lions-text div:nth-child(3) p:not(:last-child) {
      margin-bottom: 12px;
   }
   .lions-text div:nth-child(4) {
      text-shadow: 0 0 10px #fff;
      font-size: 18px;
      font-weight: 700;
   }
   .lions-text div:nth-child(4) p:not(:last-child) {
      margin-bottom: 10px;
   }
   .lions-text div:nth-child(5) p:nth-child(2) {
      color: rgb(255, 2, 171);
      text-decoration: underline;
      font-size: 20px;
   }
   .lions-text div:nth-child(5) p:not(:last-child) {
      margin-bottom: 10px;
   }
/* ================================== Footer ================================= */
.footer {
   background: linear-gradient(
      45deg,
      rgba(149, 149, 149, 1) 0%,
      rgba(13, 13, 13, 0.96) 34%,
      rgba(1, 1, 1, 0.95) 43%,
      rgba(10, 10, 10, 0.94) 48%,
      rgba(78, 78, 78, 0.91) 76%,
      rgba(56, 56, 56, 0.9) 87%,
      rgba(27, 27, 27, 0.89) 100%
   );
   box-shadow: 0px 0px 20px 3px red, 0px -5px 50px 15px rgb(255, 136, 0), 0px -5px 50px 22px rgb(0, 110, 255);
}
.footer__container {
   text-align: center;
   font-size: 60px;
   font-weight: 900;
   letter-spacing: 30px;
   word-spacing: 20px;
   color: whitesmoke;
   text-shadow: 5px 0 12px rgb(255, 128, 128), -5px 0 12px rgb(245, 221, 87);
   padding: 20px 0px;
}
.footer a {
   color: whitesmoke;
   font-size: 30px;
}
