/* 
font-family: 'Nabla'— 400

'Montserrat': 
         — 500 + italic
         — 600 + italic
         — 700 + italic
*/
body {
   font-family: "Montserrat";
   color: #fff;
}
h1,
h2 {
   font-weight: 700;
   text-align: center;
   color: wheat;
   white-space: nowrap;
   margin: 0px 0px 35px 0px;
}
h1 {
   font-size: 32px;
   text-shadow: -1px 1px 7px rgb(132, 130, 238), 2px -3px 2px violet;
}
h2 {
   font-size: 28px;
   text-shadow: 2px 1px 10px rgb(221, 112, 243), 2px -3px 2px rgb(236, 74, 236);
}
.wrapper {
   padding: 0 15%;
   background: #333;
}
.header {
   margin: 0px 0px 40px;
   padding: 20px 0px 0px;
   font-weight: 700;
}
.menu-list {
   margin-left: -10%;
   font-size: 20px;
   color: rgb(93, 0, 168);
   /* text-align: right; */
}
.menu-list a {
   line-height: 2;
   text-decoration: underline;
   text-transform: uppercase;
   text-shadow: -3px -2px 2px yellow, 0px 0px 8px yellow;
}
.menu-list a span {
   color: #fff;
   text-shadow: none;
   text-decoration: none;
}
/* ============================== Content =========================== */
.box-one p {
   font-style: italic;
   font-weight: 600;
   text-shadow: 0 0 5px coral;
}
.content {
   margin: 0px 0px 60px;
}
.content > a {
   margin: 0px 0px 0px -10%;
   color: rgb(255, 123, 0);
   text-shadow: 0 0 15px #fff;
   font-size: 24px;
   display: inline-block;
}

.content a span {
   font-size: 30px;
   font-weight: 700;
   text-shadow: 0 -8px 10px rgb(202, 247, 143), 0 8px 10px rgb(240, 203, 40);
   color: rgb(255, 217, 0);
}
.text-block.block {
   text-shadow: 0 0 3px rgb(255, 238, 0);
}
.text-block.block .paragraph {
   text-decoration: underline;
   text-shadow: none;
   color: #afaf;
}
.text-block {
   text-align: justify;
   line-height: 30px;
   font-size: 18px;
}
p {
   padding: 0px 10%;
   color: rgb(255, 174, 0);
}
.text-block > p {
   text-indent: 15px;
   margin: 0px 0px 18px 0px;
}
.image-block {
   margin: 25px 0px;
   text-align: right;
}
.image-block img {
   width: 100%;
   margin: 0px 0px 8px;
}
.description a,
.image-block span {
   text-shadow: -1px -1px 2px #000, 0 0 10px yellow;
}
.description {
   word-spacing: 8px;
   font-style: italic;
   letter-spacing: 5px;
   line-height: 1.8;
   font-weight: 300;
   font-size: 16px;
   color: rgb(235, 48, 179);
   text-shadow: -3px 0px 2px #000;
}
.image-block + p {
   color: yellowgreen;
   font-style: italic;
   font-weight: 600;
   text-decoration: none;
}

.image-block ~ p {
   color: #fff;
}
.description a {
   text-decoration: underline;
}

/* ================= Footer ================= */
.footer-box {
   padding-bottom: 35px;
}

.footer-box .text {
   text-align: center;
   font-size: 40px;
   font-family: "Nabla";
   padding: 60px 0px;
   text-shadow: -7px 10px 1px crimson, 0px -1px 10px rgb(220, 110, 20);
}
.plan {
   font-family: "Montserrat";
   text-decoration: line-through;
   font-weight: 300;
   font-style: italic;
   font-size: 24px;
   line-height: 35px;
   box-shadow: 0 0 25px rgb(226, 48, 48);
   border-radius: 10px;
   padding: 40px 0px;
}
.plan p {
   color: rgb(31, 231, 138);
}
.plan p span {
   font-family: "Nabla";
}
