body {
   font-family: "lato";
   font-size: 16px;
}
.button-box {
}
[class*="__container"] {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
}
[class*="large"] {
   padding: 17.5px 40px;
   font-size: 16px;
}
[class*="regular"] {
   padding: 14px 32px;
   font-size: 14px;
}
.button--transpared-large {
   padding: 16.5px 40px;
}
.button--transpared-regular {
   padding: 13px 40px;
}
.button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   border-radius: 4px;
   overflow: hidden;
}
.button span {
   position: relative;
   font-weight: 700;
   letter-spacing: 0.5px;
   line-height: 1.5;
   z-index: 1;
}
.button:hover span,
.button:hover span {
   animation: button-carusel 0.5s ease;
}
@keyframes button-carusel {
   0% {
      transform: translateX(0%) scale(1);
   }
   49% {
      transform: translateX(-100%) scale(0.8);
   }
   50% {
      opacity: 0;
   }
   51% {
      transform: translateX(100%) scale(0.8);
      opacity: 1;
   }
   100% {
      transform: translateX(0) scale(1);
   }
}

.button--red-large,
.button--red-regular {
   position: relative;
   background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
   color: #fff;
}
.button--transpared-large span,
.button--transpared-regular span {
   position: relative;
   background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.button--transpared-large,
.button--transpared-regular {
   border: 1px solid #ff3f3a;
}
/* ================================= Title block ======================= */
.title-block {
   color: #1e212c;
}
.title {
   font-size: 16px;
   font-weight: 700;
   line-height: 1.5;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.label {
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   text-transform: capitalize;
}
/* ============================== List  =========================== */
.list-block {
   color: #424551;
}
.list {
}
.item {
   position: relative;
   padding-left: 32px;
   line-height: 1.6;
   background: url("../img/icons/check.svg") 0 5px no-repeat;
}
/* ============================= Play block ======================= */
.play-block {
   color: #1e212c;
}
.play {
   position: relative;
   display: inline-flex;
   align-items: center;
   gap: 16px;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.5;
   }
.play::before {
   content: "";
   flex: 0 0 52px;
   width: 52px;
   height: 52px;
   background: #ff3f3a url("../img/main-block/Polygon.svg") center no-repeat;
   border-radius: 50%;
}
.play::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 52px;
   height: 52px;
   background: #972622;
   border-radius: 50%;
   z-index: -1;
   opacity: 0.5;
   animation: button-puls 0.8s ease infinite;
}
.play:hover::after {
   animation-play-state: paused;
}
@keyframes button-puls {
   0% {
      transform: scale(1);
   }
   100% {
      transform: scale(2);
      opacity: 0;
   }
}
/* =========================== Cards ==================== */
.card-block {
   padding: 50px 0px;
}
.row {
   display: flex;
   column-gap: 30px;
}
.column {
   display: flex;
   flex-basis: 50%;
}
.image {
   position: relative;
   flex: 0 0 214px;
   min-height: 120px;
}
.image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
}
.card-body {
   flex-grow: 1;
   padding: 32px;
   row-gap: 20px;
}
.specialty {
   display: inline-block;
   padding: 1px 8px;
   line-height: 1.5;
   color: #fff;
   border-radius: 4px;
   background: #f75e05;
}
.specialty:not(:last-child),
.description:not(:last-child) {
   margin-bottom: 20px;
}
.description {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1e212c;
}
.price-block {
   display: flex;
}
.price {
   position: relative;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.5;
   padding-right: 8px;
   color: #ff4242;
}
.price::after {
   content: "";
   position: absolute;
   top: 3px;
   right: 0;
   width: 1px;
   height: 80%;
   background: #787a80;
}
.mentor {
   font-size: 18px;
   line-height: 1.5;
   color: #787a80;
   padding-left: 8px;
}
