/* todo ===================== Fonts ========================= 
font-family: "lato";
font-weight: 400/700/900;
*/
body {
   font-size: 16px;
   font-family: "lato";
}
.wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}
[class*="__container"] {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
}
/* ============================= Header ===================== */
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 0px;
   z-index: 50;
}
.header::before {
   content: "";
   position: absolute;
   left: 0;
   top: -20%;
   width: 140%;
   height: 110%;
   filter: blur(17px);
   background: #feded0;
   z-index: -1;
}
@media (max-width: 550px) {
   .header {
      position: absolute;
      padding-top: 10px;
   }
}
.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 60px;
}
@media (max-width: 1100px) {
   .header__container {
      column-gap: 20px;
   }
}
@media (max-width: 800px) {
   .header__container {
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 10px;
   }
}
.header__logo {
   min-width: 120px;
   overflow: hidden;
}
.header__logo img {
   max-width: 100%;
}
@media (max-width: 800px) {
   .header__logo {
      order: 1;
      margin-bottom: 10px;
   }
}
@media (max-width: 800px) {
   .header__logo {
      max-width: 100px;
   }
}
.header__actions {
   display: flex;
   flex-shrink: 0;
   column-gap: 36px;
   align-items: center;
}
@media (max-width: 800px) {
   .header__actions {
      order: 2;
   }
}
.header__menu {
   flex-grow: 1;
}
@media (max-width: 800px) {
   .header__menu {
      order: 3;
   }
}
.menu__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 40px;
   row-gap: 8px;
   align-items: center;
}
@media (max-width: 1000px) {
   .menu__list {
      column-gap: 30px;
   }
}
@media (max-width: 800px) {
   .menu__list {
      column-gap: 25px;
      justify-content: center;
   }
}
@media (max-width: 370px) {
   .menu__list {
      row-gap: 15px;
   }
}
.menu__link {
   font-weight: 700;
   line-height: 1.6;
}
@media (max-width: 370px) {
   .menu__link {
      line-height: 1.3;
   }
}
.button-register {
   position: relative;
   padding-left: 28px;
   font-weight: 700;
   background: url("../img/icons/Vector.svg") 0 0 no-repeat;
   min-height: 18px;
}
.menu__item:hover .menu__link,
.button-register:hover span {
   color: #ff3f3a;
   text-decoration: underline;
}
@media (max-width: 1100px) {
   .button--red-large {
      padding: 12px 22px;
   }
}
@media (max-width: 800px) {
   .button--red-large {
      padding: 10px 20px;
   }
}
@media (max-width: 370px) {
   .button--red-large {
      padding: 10px;
      font-size: 14px;
   }
   .button-register {
      background: none;
      font-size: 14px;
   }
}
/* ======================== Pages ===================== */
.page {
   flex-grow: 1;
}
/* .main-block {}
.about-us {} */
/* =============================== Main block ========================== */
.page__main-block {
   padding-top: 200px;
   padding-bottom: 80px;
   background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
   /* background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%); */
   overflow: hidden;
   position: relative;
}

.main-block__body {
   display: flex;
   padding-bottom: 189px;
}
.main-block__advantages {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 25px;
}
.body-main__content {
   flex-basis: 54%;
   align-self: center;
   padding-right: 169px;
}
.body-main__image {
   width: 100%;
}
.body-main__image img {
   max-width: 100%;
}
.main-block__container {
   position: relative;
   z-index: 1;
}
.content-main__play:not(:last-child) {
   margin-bottom: 55px;
}
.content-main__title {
   font-weight: 900;
   font-size: 64px;
   line-height: 1.3;
}
.content-main__title:not(:last-child) {
   margin-bottom: 60px;
}
.content-main__button-block {
   display: flex;
   column-gap: 24px;
   row-gap: 15px;
}
.advantages-main {
   color: #1e212c;
}
.advantages-main__item {
   display: flex;
   align-items: center;
   gap: 12px;
}
.advantages-main__score {
   line-height: 1.3;
   font-size: 43px;
   font-weight: 900;
}
.advantages-main__text {
   line-height: 1.6;
}
.advantages-main__decor {
   flex: 0 0 8px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: #ff3f3a;
}

.decor-main {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.decor-main__item {
   position: absolute;
}
.decor-main__item--1 {
   width: 96px;
   height: 96px;
   top: calc(133 / 1080 * 100%);
   left: calc(82 / 1920 * 100%);
   background: url("../img/main-block/decor/decor-01.svg") 0 0 no-repeat;
}
.decor-main__item--2 {
   width: 284px;
   height: 284px;
   left: calc(-112 / 1920 * 100%);
   bottom: calc(-100 / 1080 * 100%);
   background: url("../img/main-block/decor/decor-02.svg") 0 0 no-repeat;
}
.decor-main__item--3 {
   width: 88px;
   height: 47px;
   top: calc(487 / 1080 * 100%);
   left: calc(782 / 1920 * 100%);
   background: url("../img/main-block/decor/decor-03.svg") 0 0 no-repeat;
}
.decor-main__item--4 {
   width: 61px;
   height: 61px;
   top: calc(758 / 1080 * 100%);
   left: calc(733 / 1920 * 100%);
   background: url("../img/main-block/decor/decor-04.svg") 0 0 no-repeat;
}
.decor-main__item--5 {
   width: 110px;
   height: 110px;
   top: calc(-35 / 1080 * 100%);
   right: calc(96.64 / 1920 * 100%);
   background: url("../img/main-block/decor/decor-01.svg") 0 0 no-repeat;
   transform: rotate(135deg);
}
.decor-main__item--6 {
   width: 187px;
   height: 137px;
   bottom: calc(194 / 1080 * 100%);
   right: calc(-30 / 1920 * 100%);
   background: url("../img/main-block/decor/decor-05.svg") 0 0 no-repeat;
}
/* ================================ @medias */
@media (min-width: 700px) {
   .body-main__image {
      flex-basis: 46%;
      transform: translateX(7.8%);
   }
   .body-main__image img {
      max-width: 107.8%;
   }
}
@media (max-width: 1248px) {
   .page__main-block {
      padding-top: 150px;
      padding-bottom: 60px;
   }
   .main-block__body {
      padding-bottom: 120px;
   }
   .body-main__content {
      padding-right: 90px;
   }
   .content-main__play:not(:last-child) {
      margin-bottom: 40px;
   }
   .content-main__title {
      font-size: 45px;
   }
}
@media (max-width: 940px) {
   .body-main__content {
      padding-right: 20px;
   }
   .content-main__title {
      font-size: 35px;
   }
   .content-main__button {
      flex: 1 0 50%;
   }
   .content-main__button.button--transpared-large {
      padding: 12.5px 20px;
   }
   .content-main__button.button--red-large {
      padding: 13.5px 20px;
   }
}
@media (max-width: 770px) {
   .main-block__advantages {
      flex-wrap: wrap;
      column-gap: normal;
      row-gap: 15px;
   }
   .main-block__advantages:not(:last-child) {
      margin: 0px 10px 0px 10px;
   }
   .content-main__title:not(:last-child) {
      margin-bottom: 40px;
   }
   .content-main__button-block {
      flex-wrap: wrap;
   }
   .content-main__button {
      flex: 1 0 100%;
   }
   .advantages-main__item {
      flex: 1 0 50%;
   }
   .advantages-main__decor {
      display: none;
   }
}
@media (max-width: 700px) {
   .page__main-block {
      padding-bottom: 50px;
   }
   .main-block__body {
      flex-direction: column;
      padding-bottom: 50px;
   }
   .body-main__content {
      display: flex;
      flex-direction: column;
      padding-right: 0;
      text-align: center;
   }
   .body-main__content:not(:last-child) {
      margin-bottom: 35px;
   }
   .content-main__title {
      order: 1;
   }
   .content-main__title:not(:last-child) {
      margin-bottom: 30px;
   }
   .content-main__play {
      order: 2;
      align-self: center;
   }
   .content-main__play:not(:last-child) {
      margin-bottom: 30px;
   }
   .content-main__button-block {
      order: 3;
   }
   .content-main__button {
      flex: 1 0 100%;
   }
}
@media (max-width: 550px) {
   .page__main-block {
      padding-top: 180px;
   }
   .content-main__title {
      font-size: 25px;
   }
   .advantages-main__item {
      flex: 1 0 100%;
      /* justify-content: center; */
   }
   .advantages-main__text {
      line-height: 1;
   }
   .content-main__button {
      padding: 10px;
      line-height: 1;
      font-size: 14px;
   }
   .content-main__button.button--transpared-large {
      padding: 9px 10px;
   }
   .content-main__button.button--red-large {
      padding: 10px 10px;
   }
}
/* =============================== About-us ========================== */
.page__about-us {
   position: relative;
   padding: 180px 0px;
}

.about-us__container {
   display: flex;
}
.about-us__image {
   flex-basis: 57.3%;
   /* max-width: 27%; */
}
.about-us__image img {
   max-width: 100%;
}
.about-us__body {
   flex-basis: 42.7%;
   align-self: center;
   padding-left: 135px;
}
.body-about {
}
.body-about__title:not(:last-child) {
   margin-bottom: 8px;
}
.body-about__label:not(:last-child) {
   margin-bottom: 40px;
}

.body-about__list:not(:last-child) {
   margin-bottom: 48px;
}
.body-about__item:not(:last-child) {
   margin-bottom: 12px;
}
.body-about__button {
}

.about-us__decor {
}

.decor-about {
}
.decor-about__item {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.decor-about__item--1 {
   position: absolute;
   background: url("../img/about-us/decor/dots.svg") 0 0 no-repeat;
   top: calc(240/234*100%);
   left: calc(-110.8/1920*100%);
}
.decor-about__item--2 {
   position: absolute;
   background: url("../img/about-us/decor/circles.svg") 0 0 no-repeat;
   top: calc();
   left: calc();
}
