/* todo ===================== Fonts ========================= 
font-family: "lato";
font-weight: 400/700/900;
*/
body {
   font-size: 16px;
   font-family: "lato";
}
.wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}
[class*="__container"] {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
}
/* ============================= Header ===================== */
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 0px;
   z-index: 50;
}
.header::before {
   content: "";
   position: absolute;
   left: 0;
   top: -20%;
   width: 140%;
   height: 110%;
   filter: blur(17px);
   background: #feded0;
   z-index: -1;
}
@media (max-width: 550px) {
   .header {
      position: absolute;
      padding-top: 10px;
   }
}
.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 60px;
}
@media (max-width: 1100px) {
   .header__container {
      column-gap: 20px;
   }
}
@media (max-width: 800px) {
   .header__container {
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 40px;
      row-gap: 10px;
   }
}
.header__logo {
   min-width: 120px;
   overflow: hidden;
}
.header__logo img {
   max-width: 100%;
}
@media (max-width: 800px) {
   .header__logo {
      order: 1;
      margin-bottom: 10px;
   }
}
@media (max-width: 800px) {
   .header__logo {
      max-width: 100px;
   }
}
.header__actions {
   display: flex;
   flex-shrink: 0;
   column-gap: 36px;
   align-items: center;
}
@media (max-width: 800px) {
   .header__actions {
      order: 2;
   }
}
.header__menu {
   flex-grow: 1;
}
@media (max-width: 800px) {
   .header__menu {
      order: 3;
   }
}
.menu__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 40px;
   row-gap: 8px;
   align-items: center;
}
@media (max-width: 1000px) {
   .menu__list {
      column-gap: 30px;
   }
}
@media (max-width: 800px) {
   .menu__list {
      column-gap: 25px;
      justify-content: center;
   }
}
@media (max-width: 370px) {
   .menu__list {
      row-gap: 15px;
   }
}
.menu__link {
   font-weight: 700;
   line-height: 1.6;
}
@media (max-width: 370px) {
   .menu__link {
      line-height: 1.3;
   }
}
.button-register {
   position: relative;
   padding-left: 28px;
   font-weight: 700;
   background: url("../img/icons/Vector.svg") 0 0 no-repeat;
   min-height: 18px;
}
.menu__item:hover .menu__link,
.button-register:hover span {
   color: #ff3f3a;
   text-decoration: underline;
}
@media (max-width: 1200px) {
   .button--red-large {
      padding: 12px 22px;
   }
}
@media (max-width: 800px) {
   .button--red-large {
      padding: 10px 20px;
   }
}
@media (max-width: 370px) {
   .button--red-large {
      padding: 10px;
      font-size: 14px;
   }
   .button-register {
      background: none;
      font-size: 14px;
   }
}
/* ======================== Pages ===================== */
.page {
   flex-grow: 1;
}
/* .main-block {} */
/* .about-us {} */
/* .courses {} */
/* =============================== Main block ========================== */
.page__main-block {
   padding-top: 200px;
   padding-bottom: 80px;
   background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
   /* background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%); */
   overflow: hidden;
   position: relative;
}

.main-block__body {
   display: flex;
   margin-bottom: 189px;
}
.main-block__advantages {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   column-gap: 25px;
}
.body-main__content {
   flex-basis: 54%;
   align-self: center;
   padding-right: 169px;
}
.body-main__image {
   width: 100%;
}
.body-main__image img {
   max-width: 100%;
}
.main-block__container {
   position: relative;
   z-index: 1;
}
.content-main__play:not(:last-child) {
   margin-bottom: 55px;
}
.content-main__title {
   font-weight: 900;
   font-size: 64px;
   line-height: 1.3;
}
.content-main__title:not(:last-child) {
   margin-bottom: 60px;
}
.content-main__button-block {
   display: flex;
   column-gap: 24px;
   row-gap: 15px;
}
.advantages-main {
   color: #1e212c;
}
.advantages-main__item {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   column-gap: 12px;
}
.advantages-main__score {
   line-height: 1.3;
   font-size: 43px;
   font-weight: 900;
}
.advantages-main__text {
   line-height: 1.6;
}
.advantages-main__decor {
   flex: 0 0 8px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: #ff3f3a;
}

.decor-main {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.decor-main__item {
   position: absolute;
}
.decor-main__item--1 {
   width: 96px;
   height: 96px;
   top: calc(133 / 1080 * 100%);
   left: calc(82 / 1920 * 100%);
   background: url("../img/main-block/decor/decor-01.svg") 0 0 no-repeat;
}
.decor-main__item--2 {
   width: 284px;
   height: 284px;
   left: calc(-112 / 1920 * 100%);
   bottom: calc(-100 / 1080 * 100%);
   background: url("../img/main-block/decor/decor-02.svg") 0 0 no-repeat;
}
.decor-main__item--3 {
   width: 88px;
   height: 47px;
   top: calc(487 / 1080 * 100%);
   left: calc(782 / 1920 * 100%);
   background: url("../img/main-block/decor/decor-03.svg") 0 0 no-repeat;
}
.decor-main__item--4 {
   width: 61px;
   height: 61px;
   top: calc(758 / 1080 * 100%);
   left: calc(733 / 1920 * 100%);
   background: url("../img/main-block/decor/decor-04.svg") 0 0 no-repeat;
}
.decor-main__item--5 {
   width: 110px;
   height: 110px;
   top: calc(-35 / 1080 * 100%);
   right: calc(96.64 / 1920 * 100%);
   background: url("../img/main-block/decor/decor-01.svg") 0 0 no-repeat;
   transform: rotate(135deg);
}
.decor-main__item--6 {
   width: 187px;
   height: 137px;
   bottom: calc(194 / 1080 * 100%);
   right: calc(-30 / 1920 * 100%);
   background: url("../img/main-block/decor/decor-05.svg") 0 0 no-repeat;
}
/* ============= @medias = Main block = */
@media (min-width: 700px) {
   .body-main__image {
      flex-basis: 46%;
      transform: translateX(7.8%);
   }
   .body-main__image img {
      max-width: 107.8%;
   }
}
@media (max-width: 1200px) {
   .page__main-block {
      padding-top: 150px;
      padding-bottom: 60px;
   }
   .main-block__body {
      margin-bottom: 120px;
   }
   .body-main__content {
      padding-right: 90px;
   }
   .content-main__play:not(:last-child) {
      margin-bottom: 40px;
   }
   .content-main__title {
      font-size: 45px;
   }
   .content-main__button.button--transpared-large {
      padding: 12.5px 20px;
   }
   .content-main__button.button--red-large {
      padding: 13.5px 20px;
   }
}
@media (max-width: 1000px) {
   .advantages-main__item {
      display: flex;
      flex-direction: column;
      /* flex-wrap: wrap; */
      gap: 8px;
   }
   .advantages-main__score {
      flex-basis: 100%;
   }
   .advantages-main__text {
      flex-basis: 100%;
   }
   .advantages-main__decor {
      margin: 0 auto;
   }
}
@media (max-width: 940px) {
   .body-main__content {
      padding-right: 20px;
   }
   .content-main__title {
      font-size: 35px;
   }
   .content-main__button {
      flex: 1 0 50%;
   }
}
@media (max-width: 770px) {
   .main-block__advantages {
      flex-wrap: wrap;
      column-gap: normal;
      row-gap: 15px;
   }
   .main-block__advantages:not(:last-child) {
      margin: 0px 10px 0px 10px;
   }
   .content-main__title:not(:last-child) {
      margin-bottom: 40px;
   }
   .content-main__button-block {
      flex-wrap: wrap;
   }
   .content-main__button {
      flex: 1 0 100%;
   }
}
@media (max-width: 700px) {
   .page__main-block {
      padding-bottom: 50px;
   }
   .main-block__body {
      flex-direction: column-reverse;
      margin-bottom: 0px;
   }
   .body-main__content {
      display: flex;
      flex-direction: column;
      padding-right: 0;
      text-align: center;
   }
   .body-main__image {
      margin-bottom: 35px;
   }
   .body-main__content:not(:last-child) {
      margin-bottom: 35px;
   }
   .content-main__title {
      order: 1;
   }
   .content-main__title:not(:last-child) {
      margin-bottom: 30px;
   }
   .content-main__play {
      order: 2;
      align-self: center;
   }
   .content-main__play:not(:last-child) {
      margin-bottom: 30px;
   }
   .advantages-main__item {
      flex-basis: 49%;
   }
   .advantages-main__decor:nth-of-type(even) {
      display: none;
   }
   .content-main__button-block {
      order: 3;
   }
   .content-main__button {
      flex: 1 0 100%;
   }
}
@media (max-width: 550px) {
   .page__main-block {
      padding-top: 180px;
   }
   .content-main__title {
      font-size: 25px;
   }
   .advantages-main__item {
      flex: 1 0 100%;
      /* justify-content: center; */
   }
   .advantages-main__decor:nth-of-type(even) {
      display: inline-flex;
   }
   .advantages-main__text {
      line-height: 1;
   }
   .advantages-main__score {
      font-size: 35px;
   }
   .content-main__button {
      padding: 10px;
      line-height: 1;
      font-size: 14px;
   }
   .content-main__button.button--transpared-large {
      padding: 9px 10px;
   }
   .content-main__button.button--red-large {
      padding: 10px 10px;
   }
}
/* =============================== About-us ========================== */
.page__about-us {
   position: relative;
   padding: 180px 0px;
   z-index: 2;
}

.about-us__container {
   display: flex;
   position: relative;
   z-index: 2;
}
.about-us__image {
   flex-basis: 57.3%;
}
.about-us__image img {
   max-width: 100%;
}
.about-us__body {
   flex-basis: 42.7%;
   align-self: center;
   padding-left: 10.73%;
   /* padding-left: 135px; */
}
.body-about__title:not(:last-child) {
   margin-bottom: 8px;
}
.body-about__head-body:not(:last-child) {
   margin-bottom: 40px;
}
.body-about__list:not(:last-child) {
   margin-bottom: 48px;
}
.body-about__item:not(:last-child) {
   margin-bottom: 12px;
}
.about-us__decor {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.decor-about__item {
   position: absolute;
   z-index: 1;
}
.decor-about__item--1 {
   background: url("../img/about-us/decor/dots.svg") 0 0 no-repeat;
   top: calc(240 / 918 * 100%);
   left: calc(-100 / 1920 * 100%);
   height: 181px;
   width: 132px;
   transform: rotate(35deg);
}
.decor-about__item--2 {
   background: url("../img/about-us/decor/circles.svg") center no-repeat;
   top: calc(437 / 918 * 100%);
   right: calc(-165 / 1920 * 100%);
   height: 287px;
   width: 287px;
}
/* ============= @medias = About us = */
@media (max-width: 1100px) {
   .about-us__body {
      padding-left: 6.504065%; /* 80px/1230 */
   }
}
@media (max-width: 940px) {
   .page__about-us {
      padding: 110px 0px;
   }
}
@media (min-width: 830px) and (max-width: 1100px) {
   .about-us__image {
      flex-basis: 50%;
      position: relative;
      padding-bottom: 60%;
   }
   .about-us__image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   .about-us__body {
      flex-basis: 50%;
   }
}
@media (max-width: 830px) {
   .about-us__container {
      flex-direction: column;
      align-items: center;
   }
   .about-us__image {
      margin-bottom: 35px;
   }
   .about-us__body {
      padding-left: 0;
   }
}
@media (max-width: 500px) {
   .page__about-us {
      padding: 50px 0px;
   }
   .body-about__title {
      font-size: 12px;
   }
   .body-about__label {
      font-size: 35px;
   }
   .body-about__button {
      width: 100%;
   }
   .body-about__title:not(:last-child),
   .body-about__item:not(:last-child) {
      margin-bottom: 5px;
   }
   .body-about__head-body:not(:last-child) {
      margin-bottom: 20px;
   }
   .body-about__list:not(:last-child) {
      margin-bottom: 35px;
   }
}
/* =============================== Courses ========================== */
.page__courses {
   padding-bottom: 180px;
}
.courses__head {
   margin-bottom: 30px;
}
.courses__head-block {
}
.courses__head:not(:last-child) {
}
.courses__title:not(:last-child) {
}
.courses__label {
}
.courses__button--top {
   display: none;
}
.courses__button--bottom {
   display: none;
}
.courses__cards-block:not(:last-child) {
   margin-bottom: 50px;
}

.card-block {
}
.card-block__items {
}
.card-block__item {
   display: inline-block;
   width: 100%;
}

.card-block__content {
   display: flex;
   height: 100%;
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.card-block__image {
   position: relative;
   flex: 0 0 35.666667%; /* 214px/600 */
   min-height: 120px;
}
.card-block__image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
}
.card-block__body {
   flex-grow: 1;
   padding: 32px;
   row-gap: 20px;
}
.card-block__specialty {
   display: inline-block;
   padding: 1px 8px;
   line-height: 1.5;
   color: #fff;
   border-radius: 4px;
}

.card-block__description {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1e212c;
}
.card-block__specialty:not(:last-child),
.card-block__description:not(:last-child) {
   margin-bottom: 20px;
}
.card-block__price-block {
   display: flex;
}
.card-block__price {
   position: relative;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.5;
   padding-right: 8px;
   color: #ff4242;
}
.card-block__price::after {
   content: "";
   position: absolute;
   top: 3px;
   right: 0;
   width: 1px;
   height: 80%;
   background: #787a80;
}
.card-block__mentor {
   font-size: 18px;
   line-height: 1.5;
   color: #787a80;
   padding-left: 8px;
}
.card-block__specialty--turquoise {
   background: #03cea4;
}
.card-block__specialty--blue {
   background: #5a87fc;
}
.card-block__specialty--crimson {
   background: #f52f6e;
}
.card-block__specialty--orange {
   background: #f75e05;
}
@media (min-width: 930px) {
   .courses__head {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
   }
   .courses__head:not(:last-child) {
      margin-bottom: 60px;
   }
   .courses__title:not(:last-child) {
      margin-bottom: 8px;
   }
   .courses__button--top {
      display: inline-flex;
   }
   .card-block__items {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      margin: 0 -15px;
   }
   .card-block__item {
      flex-basis: 50%;
      padding: 0 15px;
   }
}
@media (max-width: 930px) {
   .page__courses {
      padding-bottom: 100px;
   }
   .card-block__item:not(:last-child) {
      padding-bottom: 30px;
   }
   .courses__head-block {
      text-align: center;
   }
   .courses__button--bottom {
      display: inline-flex;
   }
}
@media (max-width: 500px) {
   .page__courses {
      padding-bottom: 50px;
   }
   .courses__button--bottom {
      width: 100%;
   }
   .card-block__content {
      flex-direction: column;
      align-items: center;
   }
   .card-block__image {
      min-width: 70%;
      padding-bottom: 100%;
      margin-bottom: 30px;
   }
   .card-block__body {
      display: flex;
      flex-direction: column;
      padding: 16px;
      align-items: center;
      row-gap: 0;
   }
   .card-block__specialty:not(:last-child),
   .card-block__description:not(:last-child) {
      margin-bottom: 10px;
   }
}
.footer {
   background: #333;
   color: #fff;
   text-align: center;
   letter-spacing: 20px;
   padding: 10px 0px;
   font-size: 30px;
   text-transform: uppercase;
   font-weight: 700;
}
