/* ============================ Inputs ========================= */

.wrapper-input {
}
.page {
}

.form-block {
}
.form-line {
}
.radio-group {
   font-family: "lato";
}
.question {
   font-size: 20px;
   margin-bottom: 20px;
}
.radio {
   position: relative;
   font-size: 18px;
   display: inline-flex;
   vertical-align: middle;
   text-transform: capitalize;
   padding-left: 20px;
   cursor: pointer;
}
.radio:not(:last-child) {
   margin-right: 10px;
}
.radio input[type="radio"] {
   display: none;
}
.radio span {
   position: absolute;
   top: 0;
   left: 0;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   border: 3px solid rgb(250, 49, 240);
}
.radio span::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: rgb(250, 49, 240);
   transition: 0.3s ease-in-out;
}
.radio input[type="radio"]:checked ~ span::before {
   transform: translate(-50%, -50%) scale(1);
}
.button {
}
.footer {
   display: flex;
   justify-content: center;
   padding: 10px 15px;
   font-size: 18px;
   background: #222;
   letter-spacing: 50px;
} 
