/* todo ====================== Fonts ====================
font-family: "lato";
font-weight: 400/700/900;
*/
body {
   font-family: "lato";
   font-size: 16px;
   color: #424551;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}
[class*="__container"] {
   max-width: 1230px;
   margin: 0 auto;
   box-sizing: content-box;
   padding: 0 15px;
}
/* ========================== Pages ===================== */
.page {
   flex-grow: 1;
}
.feedback {
}
/* ========================= Header ===================== */
.header {
}
/* =================== Feedback section ================== */

.page__feedback {
   padding-top: 80px;
   padding-bottom: 100px;
}
.feedback__content {
   display: flex;
   margin-bottom: 80px;
}
.feedback__image {
   flex-basis: 34.1%;
   align-self: center;
}
.feedback__image img {
   max-width: 103.57%;
   transform: translate(-3.57%, 0);
}
.feedback__body {
   flex-basis: 65.9%;
   padding-left: 105px;
}
.body-feedback__title-container{
   color: #1e212c;
}
.body-feedback__title-container:not(:last-child) {
   margin-bottom: 40px;
}
.body-feedback__title{
   font-weight: 700;
   line-height: 150%;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.body-feedback__label {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
}
.body-feedback__title:not(:last-child) {
   margin-bottom: 8px;
}
.form__row {
   display: flex;
   gap: 25px;
   margin-bottom: 24px;
   overflow: hidden;
}
.form__line {
   width: 100%;
}
.form__label {
   display: inline-block;
   margin-bottom: 8px;
}
.form__textarea,
.form__input {
   line-height: 1.6;
   padding: 13px 16px;
   outline: none;
   border: 1px solid #d7dadd;
   border-radius: 4px;
   cursor: pointer;
}
.form__textarea:focus,
.form__input:focus {
   cursor: text;
}
.form__textarea:hover,
.form__input:hover {
   border: 1px solid#3a89ff71;
}
.form__textarea:focus:valid,
.form__input:focus:valid {
   border: 1px solid#3aff7c71;
}
.form__textarea:focus:invalid,
.form__input:focus:invalid {
   border: 1px solid#ff3a9c71;
}
.form__textarea {
   width: 100%;
   height: 128px;
   margin-bottom: 48px;
   resize: none;
}
.form__textarea::-webkit-scrollbar {
   width: 0px;
}
.form__button {
   width: 100%;
}
.form__line--checkbox {
   display: inline-flex;
   position: relative;
   padding-left: 28px;
}
.form__input--checkbox {
   position: absolute;
   top: 0;
   left: 0;
   width: 16px;
   height: 16px;
   opacity: 0;
}
.form__label--checkbox span {
   display: inline-flex;
}
.form__label--checkbox::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 16px;
   height: 16px;
   border: 1px solid #ff3f3a;
   border-radius: 3px;
   transition: background 80ms ease;
}
.form__input--checkbox:checked + .form__label--checkbox::before {
   background: #ff3f3a;
}
.form__label--checkbox::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 16px;
   height: 16px;
   background: url("../img/icons/check.svg") center no-repeat;
   border-radius: 3px;
   top: -100%;
}
.form__input--checkbox:checked + .form__label--checkbox::after {
   animation: check-icon 0.8s linear forwards;
}
@keyframes check-icon {
   0% {
   }
   30% {
      top: 5px;
   }
   45% {
      top: -11px;
   }
   55% {
      top: 5px;
   }
   70% {
      top: 2px;
   }
   75% {
      top: 0;
   }
   100% {
      top: 0;
   }
}
.feedback__radio-1 {
   text-align: center;
   font-family: sans-serif;
}
.feedback__radio-question {
   font-size: 25px;
   text-transform: uppercase;
   font-weight: 700;
   line-height: 1.2;
}
.feedback__radio-question:not(:last-child) {
   margin-bottom: 10px;
}
.feedback__radio:not(:last-child) {
   margin-bottom: 30px;
}
.radio {
   color: #d7dadd;
   display: inline-flex;
   border-radius: 15% / 100%;
   line-height: 1.6;
   overflow: hidden;
}
.radio__input {
   display: none;
}
.radio__label {
   font-weight: 700;
   text-align: center;
   text-transform: lowercase;
   letter-spacing: 0.3px;
   padding: 10px 15px;
   min-width: 50px;
   cursor: pointer;
   overflow: hidden;
   background: #f75e05;
   transition: background 0.2s linear;
}
.radio__input:checked + .radio__label {
   background: #b34404;
}
.radio__label:not(:last-of-type) {
   border-right: 1px solid #631411;
}

.radio-2__line {
   display: inline-flex;
}
.radio-2__line:not(:last-child) {
   margin-right: 15px;
}
.radio-2__label span {
   position: relative;
   width: 20px;
   height: 20px;
   border: 3px solid #d35004;
   border-radius: 50px;
   display: inline-block;
}
.radio-2__label span::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background: #d35004;
   display: inline-block;
   transition: transform 0.2s linear;
}
.radio-2__input:checked + .radio-2__label span::before {
   transform: translate(-50%, -50%) scale(1);
}
.radio-2__input {
   display: none;
}
.radio-2__label {
   display: flex;
   align-items: center;
   gap: 5px;
   cursor: pointer;
}
/* =========================== Button ====================== */
.button {
   display: inline-flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
   text-align: center;
   border-radius: 4px;
   overflow: hidden;
}
.button span {
   letter-spacing: 0.5px;
   font-weight: 700;
   line-height: 1.25;
   z-index: 1;
}
[class*="large"] {
   padding: 16px 40px;
   font-size: 16.5px;
}
.button--large-red {
   position: relative;
   background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
   color: #fff;
}
.button--large-transparent span,
.button--regular-transparent span {
   background-image: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.button--large-red::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(55.95deg, #d35004 0%, #d83732 100%);
   opacity: 0;
   transition: all 0.3s ease;
}
.button--large-red:hover::before {
   opacity: 1;
}
.button:hover span {
   animation: spin-button-text 0.5s ease;
}
@keyframes spin-button-text {
   0% {
      transform: translateY(0) scale(1);
   }
   49% {
      transform: translateY(170%) scale(0.8);
   }
   50% {
      opacity: 0;
   }
   51% {
      transform: translateY(-170%) scale(0.8);
      opacity: 1;
   }
   100% {
      transform: translateY(0) scale(1);
   }
}
/* ========================= Footer ======================== */
.footer {
}
