/* 
font-family: 'Lato';
      — 400;
      — 700;
      — 900;
*/
body {
   font-family: "Lato";
}
.wrapper {
   background: #222;
   padding: 20px 0px;
}
.header {
}
.main {
}
.block-layout {
   max-width: 810px;
   margin: 0 auto;
   background: #fff;
   padding: 25px 10px;
   box-sizing: content-box;
   box-shadow: 0 0 25px rgb(255, 174, 0);
   border-radius: 25px;
   }
h1 {
   font-family: "Lato";
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   margin: 0px 0px 92px 0px;
}
.image-block {
   margin: 0px 0px 60px 0px;
}
.image-block img {
   max-width: 810px;
}
.text-block {
}
.text-fat {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1e212c;
}
.text-fat.first {
   margin: 0px 0px 24px 0px;
}
.text-fat.second {
   margin: 0px 0px 48px 58px;
}
.text-thin p {
   font-size: 16px;
   line-height: 1.6;
}
.text-thin {
   margin: 0px 0px 48px 0px;
}
.text-thin p {
   margin: 0px 0px 24px 0px;
}
.text-thin.second ul li{
   margin: 0px 0px 4px 32px;
   line-height: 1.6;
}
.text-thin.second ul {
   margin-bottom: 24px;
}
.second {
}
.first {
}

.footer {
}
